//***************************************************************************
// [%_DS_DESCRIPTION_%]
//***************************************************************************
$i = "[%_DS_INDEX_%]";
$data_arr[$i]["type"] = "[%_DS_TYPE_%]";
$data_arr[$i]["server"] = "[%_SERVER_%]";
$data_arr[$i]["port"] = "[%_PORT_%]";
$data_arr[$i]["schema"] = "[%_DB_SCHEMA_%]";
$data_arr[$i]["source"] = "[%_DB_NAME_%]";
$data_arr[$i]["user"] = "[%_DB_USER_%]";
$data_arr[$i]["pass"] = "[%_DB_PASS_%]";
